.backgroungGlass {
    width: 450px;
    height: 500px;
background-image: url(../../public/glassesImage/model.jpg);
background-position: center;
background-size: 100% 100%;
position: relative;
margin: auto;
}
.imgGlass{
    position: absolute;
    top:26%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height:auto;
}
.descGlass {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 174, 0, 0.5);
}
.bgGlass {
    background-image: url(../../public/glassesImage/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgBlack {
    background-color: rgba(0, 0, 0, 0.5);
}

.bgwhite {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}
/* nè mình làm thế này mà nó k ăn */
/* bạn ngủ rồi ạ????????? */